nav{
    background-color: rgb(185, 138, 232);
    border: 1px solid rgb(185, 138, 232);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
select{
    /* align-self: flex-end; */
    /* align-content: end; */
    width: 200px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#main{
    display: flex;
}
textarea{
    font-size: 18px;
    width: 50%;
    height: 600px;
    padding: 20px;

}
textarea::placeholder{
    opacity: 50%;
    color: red ;
}
#output{
    font-size: 20px;
    border: 1px solid black;
    /* border-radius: ; */
    width: 50%;
    height: 600px;
    padding: 20PX;
    overflow: scroll;
    
}
#run{
    background-color: rgb(238, 104, 104);
    height: 40px;
    width: 120px;
    color: white;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;

}